---
import { getCollection } from 'astro:content'
import BlogLayout from '../../layouts/BlogLayout.astro'
import BlogPostCard from '../../components/BlogPostCard.astro'

const posts = (await getCollection('blog')).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
)
---

<BlogLayout>
  <div class="flex flex-col items-center justify-center gap-10 mt-20">
    {posts.map((post) => <BlogPostCard {post} />)}
  </div>
</BlogLayout>
