---
import { getCollection } from 'astro:content'
import BlogLayout from '../../layouts/BlogLayout.astro'
import BlogPostCard from '../../components/BlogPostCard.astro'

const posts = await getCollection('blog')
---

<BlogLayout>
  <div class="flex flex-col items-center justify-center mt-20">
    {posts.map((post) => <BlogPostCard {post} />)}
  </div>
</BlogLayout>
