---
import Layout from '../../layouts/Layout.astro'
---

<Layout title="Mardroide - blog">
  <div class="w-full h-full flex flex-col items-center justify-center">
    <span class="text-7xl max-sm:text-4xl">In development</span>
    <p>
      Go back to <a class="text-pink-400" href="/">Home Page</a>.
    </p>
  </div>
</Layout>
