---
import { getCollection } from 'astro:content'
import Layout from '../../layouts/Layout.astro'
import BlogNavbar from '../../components/navbars/BlogNavbar.astro'
import BlogPostCard from '../../components/BlogPostCard.astro'

const posts = await getCollection('blog')
---

<Layout title="Mardroide - blog">
  <BlogNavbar />
  <div class="flex flex-col items-center justify-center mt-20">
    {posts.map((post) => <BlogPostCard {post} />)}
  </div>
</Layout>
