<div class="flex flex-col items-center justify-center mt-24 mb-24">
  <span class="font-semibold text-5xl text-center max-sm:text-2xl"
    >Hi, I'm Mardroide <br /> Student and developer</span
  >
</div>
