---
interface Props {
  name: string
  description: string
  image: string
  link: string
}

const { name, description, image, link } = Astro.props
---

<a
  href={link}
  target="_blank"
  class="flex flex-col items-start w-full p-5 gap-3 ring-1 ring-gray-500 rounded-lg hover:bg-second hover:scale-105 transition-all duration-200"
>
  <div class="flex items-center gap-4">
    <img
      src={image}
      alt={image + '-logo'}
      class="rounded-full h-8 w-8 object-cover"
    />
    <p class="font-bold text-lg">{name}</p>
  </div>
  <p>{description}</p>
</a>
